<% if flash[:notice] %>
    <div class="alert-container">
        <p><%= flash.notice %></p> 
      </div>
<% end %>

<% get_authorization %>

<b></b>Looks like you aren't authorized to use the Google Sheets API.</b>
  <p>
    Go to the <a href="<%= session[:authorize] %>" target="_blank">Google Authorization</a> url and copy and paste the code into this box:
  </p>
  <p>
    <%= form_tag(google_authorize_path, method: "POST") do %>
      Code: <input type="text" name="code" id="code">
      <br><br>
      <input id="submit" class="button" type="submit" value="Submit Code"/>
  <% end %>
  </p>