<%= render 'layouts/sidebar.html.erb' %>

<div class="content-container">
  <div class="content">
    <% if check_authorization %>
        <%= render 'google/authorized.html.erb' %>
    <% else %>
        <%= render 'google/not_authorized.html.erb' %>
    <% end %>
  </div>
</div>