<%= render "layouts/sidebar.html.erb" %>

<div class="content-container">
    <div class="content">
        <div class="action-container">
            Matches Written!
        </div>
    </div>
</div>