<table id="match_table">
    <tr>
        <th>ID</th>
        <th>Group Name</th>
        <th>Project Name</th>
        <th>Group's Rank for Project</th>
    </tr>
    
    <% @matches.count.times do |index| %>
    <tr>
        <td><%= index %></td>
        <td><%= @matches[index].group_name %></td>
        <td><%= @matches[index].project_name %></td>
        <td><%= choice_num @matches[index] %></td>
    </tr>
    <% end %>
</table> 

<form action="/matches/new" method="get">
    <input type="submit" value="Match"/>
</form>