<% if flash[:notice] %>
    <p><%= flash.notice %></p>
<% end %>


<% if session[:is_ta] %>
    <%= button_to "Log out", action: "logout" %>
<% else %>
    <%= form_tag("/login/attempt", method: "post") do %>
        <p>Username:
            <input id="username" type="text" name="username" />
        </p>
        <p>Password:
            <input id="password" type="text" name="password" />
        </p>
        <input id="submit" type="submit" value="submit"/>
    <% end %>
<% end %>