// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables.scss";
@import "_matchtable.scss";

body, html {
    color: $primary-text-color;
}