%h1 Matches Generated 

%table#matches_path
    %thead
        %tr
        %th ID
        %th Group Name
        %th Project Name
    %tbody 
        - @matches.count.times do |index|
        %tr
            %td= index
            %td= @matches[index].group_name
            %td= @matches[index].project_name

= link_to "Run Algorithm", matches_path