<div class="sidebar-container">
    <div class="sidebar-content">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-link" href="<%= login_path()%>">Staff Login</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="/matches">Current Matching</a>
            </li>
            <% if session[:is_ta] %>
                <li class="nav-li">
                    <a class="nav-link" href="<%= groups_path()%>">Groups</a>
                </li>
                <li class="nav-li">
                    <a class="nav-link" href="<%= projects_path()%>">Projects</a>
                </li>
                <li class="nav-li">
                  <a class="nav-link" href="<%= google_fetch_path %>">Google Sheets</a>
                </li>
            <% end %>
        </ul>
    </div>
</div>