<div class="sidebar-container">
    <div class="sidebar-content">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-link" href="<%= groups_path() =%>">Groups</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="<%= projects_path() =%>">Projects</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="<%= matches_path() =%>">Current Matching</a>
            </li>
        </ul>
    </div>
</div>